<!-- �Է�â ��Ÿ��-->
@font-face {
	font-family: 'Bungee Hairline', cursive;
	font-style: normal;
	font-weight: 400;
	src: local('Google Sans Regular'), local('GoogleSans-Regular'),
		url(//fonts.gstatic.com/s/googlesans/v9/4UaGrENHsxJlGDuGo1OIlL3Kwp5MKg.woff2)
		format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Bungee Hairline', cursive;
	font-style: normal;
	font-weight: 400;
	src: local('Google Sans Regular'), local('GoogleSans-Regular'),
		url(//fonts.gstatic.com/s/googlesans/v9/4UaGrENHsxJlGDuGo1OIlL3Nwp5MKg.woff2)
		format('woff2');
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Bungee Hairline', cursive;
	font-style: normal;
	font-weight: 400;
	src: local('Google Sans Regular'), local('GoogleSans-Regular'),
		url(//fonts.gstatic.com/s/googlesans/v9/4UaGrENHsxJlGDuGo1OIlL3Awp5MKg.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Bungee Hairline', cursive;
	font-style: normal;
	font-weight: 400;
	src: local('Google Sans Regular'), local('GoogleSans-Regular'),
		url(//fonts.gstatic.com/s/googlesans/v9/4UaGrENHsxJlGDuGo1OIlL3Owp4.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
		U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Bungee Hairline', cursive;
	font-style: normal;
	font-weight: 500;
	src: local('Google Sans Medium'), local('GoogleSans-Medium'),
		url(//fonts.gstatic.com/s/googlesans/v9/4UabrENHsxJlGDuGo1OIlLU94Yt3CwZ-Pw.woff2)
		format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
	font-family: 'Bungee Hairline', cursive;
	font-style: normal;
	font-weight: 500;
	src: local('Google Sans Medium'), local('GoogleSans-Medium'),
		url(//fonts.gstatic.com/s/googlesans/v9/4UabrENHsxJlGDuGo1OIlLU94YtwCwZ-Pw.woff2)
		format('woff2');
	unicode-range: U+0370-03FF;
}

@font-face {
	font-family: 'Bungee Hairline', cursive;
	font-style: normal;
	font-weight: 500;
	src: local('Google Sans Medium'), local('GoogleSans-Medium'),
		url(//fonts.gstatic.com/s/googlesans/v9/4UabrENHsxJlGDuGo1OIlLU94Yt9CwZ-Pw.woff2)
		format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
		U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Bungee Hairline', cursive;
	font-style: normal;
	font-weight: 500;
	src: local('Google Sans Medium'), local('GoogleSans-Medium'),
		url(//fonts.gstatic.com/s/googlesans/v9/4UabrENHsxJlGDuGo1OIlLU94YtzCwY.woff2)
		format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
		U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}



.i9lrp1{background-color:rgba(0,0,0,0.12);bottom:-2px;height:1px;left:0;margin:0;padding:0;position:absolute;width:205%}
.underline{background-color:rgba(0,0,0,0.12);bottom:-2px;height:1px;left:0;margin:0;padding:0;position:absolute;width:47%}

.joinTitle {	
	font-size: 32px;
	font-family: 'Bungee Hairline', cursive;
	padding-top: 30px;
	color: gray;
	text-shadow: 0 0 2px #000;
	text-align: center;
}
.panel1 {
padding-top: 40px;
padding-left: 7px;
}

<!--���� ��ư ��Ÿ��-->
.input-group{
	margin-left:-10px;
}
.form-group {
   padding: 10px;
}

.funkyradio div {
   clear: both;
   overflow: hidden;
}

.funkyradio label {
   width: 100%;
   border-radius: 3px;
   border: 1px solid #D1D3D4;
   font-weight: normal;
}

.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty
   {
   display: none;
}

.funkyradio input[type="radio"]:empty ~ label, .funkyradio input[type="checkbox"]:empty 
    ~ label {
   position: relative;
   line-height: 2.5em;
   text-indent: 3.25em;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before, .funkyradio input[type="checkbox"]:empty 
    ~ label:before {
   position: absolute;
   display: block;
   top: 0;
   bottom: 0;
   left: 0;
   content: '';
   width: 2.5em;
   background: #D1D3D4;
   border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not (:checked ) ~ label,
   .funkyradio input[type="checkbox"]:hover:not (:checked ) ~ label {
   color: #888;
}

.funkyradio input[type="radio"]:hover:not (:checked ) ~ label:before,
   .funkyradio input[type="checkbox"]:hover:not (:checked ) ~ label:before
   {
   content: '\2714';
   text-indent: .9em;
   color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label, .funkyradio input[type="checkbox"]:checked 
    ~ label {
   color: #777;
}

.funkyradio input[type="radio"]:checked ~ label:before, .funkyradio input[type="checkbox"]:checked 
    ~ label:before {
   content: '\2714';
   text-indent: .9em;
   color: #333;
   background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before, .funkyradio input[type="checkbox"]:focus 
    ~ label:before {
   box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
   .funkyradio-default input[type="checkbox"]:checked ~ label:before {
   color: #333;
   background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
   .funkyradio-primary input[type="checkbox"]:checked ~ label:before {
   color: #fff;
   background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
   .funkyradio-success input[type="checkbox"]:checked ~ label:before {
   color: #fff;
   background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
   .funkyradio-danger input[type="checkbox"]:checked ~ label:before {
   color: #fff;
   background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
   .funkyradio-warning input[type="checkbox"]:checked ~ label:before {
   color: #fff;
   background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
   .funkyradio-info input[type="checkbox"]:checked ~ label:before {
   color: #fff;
   background-color: #5bc0de;
}