.level0, .level1, .level2 {
	margin-left:10px;
	margin-top:10px;
	border:7px solid gray;
	
}

/* shape */
.level0 {
	width:200px; height:200px;	
	position:absolute;	
	color: #cacaca;
	text-align: center;
}

.level1 {
	width:200px; height:50px;	
	position:absolute;	
	color: #c4c4c4;
	text-align: center;
}


/*location  */
#menu {
	left:21%;
	top: 330px;
}
#menu:hover{
	position:absolute;
	padding: 10px;
	border: 0px solid #525ead;
	transform-origin : 100% 40% 0;
    transform: scale(3);
}
#reserve {
	left:36%; top:330px;
	border-radius: 15%;
	
}
#book {
	left:51%; top:330px;
}
#basket {	
	top:350px; left:66%; height:180px;
	border-bottom-left-radius: 20%;
	border-bottom-right-radius: 20%;
	border-top-style: hidden;
}

.list {
	border-radius: 10%;
	transition:1s;
}
.list:hover{
	filter: blur(.03em);
}

.ppt {
	margin-left: 41%; 
	background-color: #655;
}

.site{
	margin-left: 51%; 
}

.view {
	position:absolute; width:1300px; height:700px;	
	font-size: 30px; font-weight: bolder;
	color: gray;
	text-align: center;
	border: 5px solid gray;
	top: 100px;	left:400px;
	
}
.newmenu {
	top:180px; right:200px;
	position:absolute; 
	align-self:center;
	width: 600px; 
	max-height:500px;
}


.tb1, .tb2, .tb3 {
	text-align:center; font-size:18%;
	opacity: 0.3;
	color: blue;
}
.tb1 {
	position:absolute;	
	top:27%; 
	width:4%; height: 9%
}
.t1{
	left:35%;	
}
.t2{
	left:43%; 	
}

.t3{
	left:51%;
}
.t4{
	left:59.5%;
}

.tb2{
	position:absolute; top:37%; 
	width:5px; height: 9%;

}
.t5{
	left:34%;
}
.t6{
	left:43%;
}
.t7{
	left:53%;
}

.tb3 {
	position:absolute;	
	width:2.5%; height: 9%	
}
.t8{
	top:56%; 
	left:60%;
}
.t9{
	top:63%; 
	left:72%;
}


.date_sh {

	border-radius: 12%;
	background-color:white;
	opacity: 0.5%;
   	text-align: left;
   	border-radius: 12%;
   	display: inline-block;
}


.date_sh:hover {
	background-color:transparent;
	background-color:#f2f2f2;
}

.time-sh {
	padding: 0.3%; text-align: center;
}
.time-sh:hover {
	background-color: transparent;
	background-color: #b0beff;
}

